/**
 * Themes
 */

 body {
  font-family: "Atkinson Hyperlegible", sans-serif;
 }

body.summer-mysteries-theme {
  --text-primary: #343446;
  --text-secondary: #4d5031;
  --text-header: #4d5031;
  --background-dark: #343446;
  --body-background: #f4f4f4;
  --text-highlight: #4d5031;
  --highlight: #b00707;
  --menu-links: #b00707;
  --menu-background: white;
}

/* Default light theme before or without script*/
.trek-theme {
  --text-primary: #202020;
  --text-secondary: #2f311e;
  --text-header: #314858;
  --background-dark: #110f47;
  --body-background: #fdfdfd;
  --text-highlight: #4d5031;
  --highlight: #f5320b;
  --menu-links: #8d2329;
  --menu-background: #e3e8ed;
}

/* Default dark theme before or without script */
@media (prefers-color-scheme: dark) {
    .trek-theme {
      --text-primary: #fff;
      --text-secondary: #2f311e;
      --text-header: #ff9096;
      --background-dark: #110f47;
      --body-background: #314858;
      --text-highlight: #4d5031;
      --highlight: #f5320b;
      --menu-links: #f0e207;
      --menu-background: #1c2831;
    }
}

/* Basic reset and body styles */
body {
  margin: 0;
  color: #333;
}

h1 {
  text-align: center;
  color: #444;
}

/* Styling for the list container */
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Styling for the list itself */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Styling for each list item */
ul>li {
  padding: 15px 0;
}

li:last-child {
  border-bottom: none;
}

/* Styling for the name */
h2 {
  margin: 0 0 5px 0;
  font-size: 1.6em;
  text-align: center;
}

h4 {
  font-size: 1.2em;
}

h3, h4 {
  width: 60ch;
  margin: auto;
}

/* Styling for text */
p,
span,
li,
dl,
dt {
  margin: auto;
  font-size: 1.05em;
  max-width: 60ch;
  font-size: 1.05em;
}

p, span {
  line-height: 1.4;
}

p {
  margin: 1em auto;
}

a {
  font-size: 1.05em;
  color: var(--menu-links);
  font-weight: bold;
}
a.current {
  color: var(--text-primary);
  text-decoration: none;
}

/* Styling for the image */
img {
  height: auto;
  border-radius: 4px;
  /* Slightly rounded corners */
  display: block;
}


.App {
  background-color: black;
}

.backToTop {
  border: 1px solid;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.feedback {
  background-color: var(--menu-background);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: .8em;
  border-top-right-radius: 10px;

  i {
    margin: 0 .5em;
  }
}

.topMenu {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  justify-content: space-around;

  .toggleDarkTheme {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 8px;

    &--dark {
      background-color: black;
      color: white;
    }

    &--light {
      background-color: white;
      color: black;
    }
  }

  .skipToContent {
    font-size: 12px;
    overflow: hidden;

    &:focus,
    &:active {
      left: 0;
      font-size: 18px;
      background: white;
      width: auto;
      height: auto;
    }
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  img {
    width: 60%;
    margin: 2% 10%;

    @media (max-width: 768px) {
      width: 60%;
      margin: unset;
    }
  }

  i {
    padding: 0 4px;
  }


  li>a {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .mobileMenu {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: theme-get("menu-background");
      color: theme-get("menu-links");
    }
  }

  .desktopMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    li {
      padding: .5em 1em;
    }

    .mainMenu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .secondaryMenu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    justify-content: space-between;

    &.expanded {
      flex-direction: column;
    }
  }

  nav {
    background-color: var(--menu-background);
  }
  .menuBar {
    display: none;
    color: var(--text-primary);

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      font-size: 2em;
      width: 90%;

      span {
        margin: 0;
      }
    }
  }

  .menuItems {
    display: flex;
    flex-direction: column-reverse;

    .secondaryMenu {
      a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
      }
    }

    @media (max-width: 768px) {
      display: none;

      &.expanded {
        display: flex;
        flex-direction: column;
      }



      .mainMenu {
        li:last-child::after {
          content: "";
          display: block;
          width: 50%;
          margin-top: 40px;
          position: absolute;
          margin-left: 25%;
          left: 0;
          border: 1px solid;
        }
      }
    }


  }
}

#content {
  background-color: var(--body-background);
  color: var(--text-primary);
  padding: 0 12% 3em 12%;

  h1 {
    margin: 0;
  }

  h1, h2, h3 {
    color: var(--text-header);
    margin-top: 1em;
    margin-bottom: .7em;
  }

  ul>li {
    padding: .5em 0;
    a {
      font-size: 1.15em;
    }
  }
  ul ul li {
    padding-left: 24px;
    padding: .2em 0 0 2em;
    a {
      font-size: 1.1em;
    }
  }

  .warnings {
    list-style-type: disc;
    padding-left: 10%;
  }
  

  @media (max-width: 769px) {
    padding-top: 2em;
    padding-right: 5%;
    padding-left: 5%;
  }

  .programHeader {
    text-align: center;

    .preHeader {
      text-transform: uppercase;
      font-family: "Limelight", sans-serif;
      margin: 0;
      color: white;
      background-color: black;
    }

    h3 {
      margin-top: 4px;
    }

    .heroBannerImg {
      img {
        width: 100%;
      }
    }
  }

  .ATFshowInfo {
    .fullTitle {
      font-size: 2em;
      text-align: center;
    }

    .dates {
      text-align: center;
      font-size: 1.1em;
      /* margin: 0.5em 0; */
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    .dates.single {
      justify-content: center;
    }
    .datesByVenue {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 1em 0;
    }
    .datesByVenue span {
      display: block;
    }

    .venue {
      margin: 1.2em 0;
      font-size: 1.15em;
    }

    .buttonsAndLinks {
      display: flex;
      justify-content: space-around;

      a {
        padding: .5em;
        border: 1px solid;
        border-radius: 5px;
        text-decoration: none;
        margin: 1em 0 1em 0;
      }
    }
  }

  .programBlock {
    border-top: 1px solid;
    padding: 16px 12px;
    margin: 24px 0;

    .foleyDivider {
      border: 1px solid var(--text-secondary);
      width: 50%;
      margin-top: 20px;
      display: block;
      margin-left: 25%;
      left: 0;
    }

    &-header {
      h2 {
        font-size: 1.6em;
        text-align: center;
      }

      &--highlightCredits {
        align-items: center;
        text-align: center;
        padding: 8px 0;
      }
    }

    .highlightCredit {
      display: block;
      font-size: 1em;

      span.material-symbols-outlined {
        vertical-align: middle;
      }
    }

    h3 {
      margin: 0;
      text-align: center;
    }

    .wrapFix {
      font-size: 0.85em;
    }

    .singleCredit {
      @media (min-width: 768px) {
        display: flex;
      }

      padding: 1em 0;

      .dots {
        content: "";
        margin-top: auto;
        margin-bottom: 4px;
        border-bottom: 1px dashed black;
        flex-grow: 2;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .singlCredit-role {
        align-self: flex-end;
        max-width: 55%;
        flex-shrink: 0;
      }

      .singleCredit-name {
        text-align: right;
        align-self: flex-end;

        @media (max-width: 768px) {
          flex-direction: column;
          display: flex;

          &::before {
            content: '';
            display: inline-block;
            border-bottom: 1px dashed black;
            width: 100%;
            margin: 0 0.25em;
          }
        }
      }
    }
  }

  .biosBlock {
    margin: 1em;
  }

  .biosBlock-singleBio {
    padding: 16px;
    margin-bottom: 16px;

    .biosBlock--title {
      text-align: center;
      margin-bottom: 8px;
    }

    &::after {
      content: "";
      width: 50%;
      margin-top: 20px;
      position: absolute;
      display: block;
      margin-left: 25%;
      left: 0;
    }

    &:last-child::after {
      display: none;
    }
  }

  .biosBlock-title {
    text-align: center;
    padding-top: 8px;
  }

  .directions {
    h3 {
        width: 60ch;
        margin: auto;
      }

    .photos {
      display: flex;

      @media (max-width: 769px) {
        display: block;
      }

      img {
        width: 100%;
      }
      
    }
  }
}

img {
  width: 60%;
  margin: auto;
}

.backToTop {
  background-color: var(--menu-background);
  right: 0;
  position: fixed;
  bottom: 0;
  padding: 1em;
  background: white;
  border-radius: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .backToTop--link {
    display: block;
    width: 100%;
    height: 100%;
  }

}